@use "../../../styles";
.main {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    .input {
        background-color: black;
        @include styles.pixelBorder(5px, black);
        border: none;
        color: white;
        padding: 5px 10px;
        font-size: 20px;
        &:focus {
            outline: none;
        }
    }

    .btn {
        @include styles.pixelBorder(5px, #c88149);
        display: flex;
        justify-content: center;
        padding: 5px 10px;
        font-size: 20px;
        background-color: #c88149;
        color: white;
        gap: 10px;
        user-select: none;
        position: relative;

        &:active {
            transform: translateY(5px);
            z-index: 10;
            &::before {
                display: none;
            }
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -10;
            width: 100%;
            @include styles.pixelBorder(5px, rgb(148, 72, 1));
            height: 10px;
            bottom: -8px;
            left: 0;
            background-color: rgb(148, 72, 1);
            pointer-events: none;
        }
    }
}

.arrow {
    transform: rotate(180deg);
    position: absolute;
    left: 5%;
    top: 5%;
}